<!-- <img src="//files.human-nyc.com/newyorksunshine/assets/about.jpg"> -->
<%== @about %>

<p>New York Sunshine is the vision of John "Sunshine" Magaritis. Sunshine and a crew of friends sharing similar passions draw inspiration from all things New York. The culture, the fashion, the music, the ocean, the people&hellip; all of it. That’s why we live here.</p>

<p>New York Sunshine started as a side project to make some extra summer cash, hand silk screening shirts and selling them damp and sandy out of the back of a surf van. The brand has grown since then, selling across the United States, as well as in Paris and Japan.</p>

<p>We produce limited runs of high-quality clothing in the USA, striving to consistently create collections with an authentic New York feel.</p>

<p>Please contact <a href="mailto:info@newyorksunshine.com">info@newyorksunshine.com</a> for general inquiries.</p>