<nav id="lookbook-links">

  <% @lookbooks.each do |lookbook| %>
    <%= link_to_unless_current lookbook.name, lookbooks_path(lookbook) do %>
      <%= link_to lookbook.name, lookbooks_path(lookbook), :class => "selected" %>
    <% end %>
  <% end %>

</nav>
