<nav id="lookbook-links">
  <a href="/lookbook">S/S 2014</a>
  <!-- <a href="/lookbook">A/W 2014</a> -->
  <!-- <a href="/lookbook">S/S 2013</a> -->
  <!-- <a href="/lookbook">A/W 2013</a> -->
</nav>

<div id="lookbook">
  <div id="plane">

    <div class="left capture"></div>
    <div class="right capture"></div>

    <div class="stage">

      <% @lookbook.each do |slide| %>
        <div class="slide">

          <% slide['images'].each do |image_src| %>
            <img class="look style-<%= slide['images'].length %>" src="<%= image_src %>">
          <% end %>

        </div>
      <% end %>

    </div>

  </div>

  <div class="thumbnails">
    <% @lookbook.each do |slide| %>

      <div class="thumbnail">

        <% slide['images'].each do |image_src| %>
          <img class="thumbnail-style-<%= slide['images'].length %>" src="<%= image_src %>">
        <% end %>

      </div>


    <% end %>
  </div>

</div>