<nav id="lookbook-links">
  <a href="/lookbook">S/S 2014</a>
  <a href="/lookbook">A/W 2014</a>
  <a href="/lookbook">S/S 2013</a>
  <a href="/lookbook">A/W 2013</a>
</nav>

<div id="lookbook">
  <div id="plane">
    <div class="stage">
      <% @lookbook.each do |slide| %>
        <img class="look" src="<%= slide['image_src'] %>">
      <% end %>
    </div>

    <div class="left capture"></div>
    <div class="right capture"></div>

  </div>

  <div class="thumbnails">
    <% @lookbook.each do |slide| %>
      <img class="thumbnail" src="<%= slide['image_src'] %>">
    <% end %>
  </div>

</div>