#products {

  header {
    background-color: #FFF;
  }

  .product-background {
    background: asset_url('web-background.jpg') center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }

  #wrapper {
    min-height: 100vh;
  }

  .pagination,
  #sidebar {
    display: none;
  }

  .feed-group {
    display: block;
    text-align: center;
  }

  a.product {
    margin: auto;
    margin-bottom: 40px;
    max-width: 650px;
    width: auto;

    img {
      border: none;
      background: none;
    }

    .info {
      display: none;
    }
  }

  footer {
    background: #FFF;
    width: 100vw;
  }
}
