$pdp-description-width: 384px;

.top {
  @media #{$tablet-portrait} {
    display: flex;
  }
  .pdp-image-container {
    flex: 1 1 576px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .description {
    flex: 1 1 $pdp-description-width;
    text-align: left;
  }
}

#product-thumbnails {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  li {
    display: block;
    flex: 1;
    a {
      display: block;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

// table#product-properties {
//   width: 100%;
// }

table, th, td {
  border: 1px solid lightgray;
}
td {
  padding: 0.25em;
}
table {
  // color: $matteBlack;
  // font-size: larger;
  width: 100%;
}

.description form {
  @media #{$tablet-portrait} {
    width: 43%;
  }
}

table#product-properties {
  border-collapse: collapse;

  tr:hover {
    background: $matteBlack;
    color: white;
  }

}

#inside-product-cart-form,
.add-to-cart {
  display: flex;
  flex-flow: row wrap;
  .product-price {
    margin: 1em 0;
  }

  .product-price {
    width: 100%;
    flex: 1 1 auto;
  }

  label {
    box-sizing: border-box;
    cursor: pointer;
    flex: 1 1 50%;
    margin: 1em 0;
    padding: 0.25em;
  }
  select,
  input[type="text"],
  input[type="number"],
  button {
    background: #E5E5E5;
    border: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    // outline-style: solid;
    flex: 1 1 50%;
    margin: 0.25em 0;
    padding: 0.25em 1em;
    text-transform: uppercase;
    &:focus {
      outline: 1px solid $matteBlack;
    }

  }

  button {
    background: black;
    color: white;
    line-height: 3;
    margin: 2em 0;
    transition-duration: $slow;
    &:hover {
      background: white;
      color: black;
      transition-duration: $fast;
    }

  }

  // input {
  //   -webkit-appearance: none;
  //   border-
  //   box-sizing: border-box;
  //   flex: 1 1 auto;
  //   width: 50%;
  // }

  button {
    cursor: pointer;
    -webkit-appearance: none;
    flex: 1 1 auto;
    width: 100%;
  }
}