<% content_for :page_title do %>
  <%= Spree.t(:new_feed_item) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:new_slide), spree.new_admin_feed_item_path, :icon => 'plus' %>
  </li>
<% end %>

<%= render 'form' %>
