<address>
  <a href="<%= @google_maps_link %>" target="blank">SURF CLUB&nbsp;&nbsp;/&nbsp;&nbsp;28 Nugent St&nbsp;&nbsp;/&nbsp;&nbsp;Southampton, NY</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="tel://6314612328">631 461 2328</a>
</address>

<!-- <a href="<%= @google_maps_link %>" target="blank" class="surfclub-map">
  <img src="http://files.human-nyc.com/newyorksunshine/assets/nys-map.svg">
</a> -->

<div class="photos">

  <%= @surf_club_images.each do |surf_club_image| %>

    <%= image_tag surf_club_image.attachment(:large), :class => "photo" %>

  <% end %>

</div>
