<address>
  <a href="<%= @google_maps_link %>" target="blank">
    NEW YORK SUNSHINE&nbsp;&nbsp;/&nbsp;&nbsp;SURF CLUB&nbsp;&nbsp;/&nbsp;&nbsp;28 Nugent St&nbsp;&nbsp;/&nbsp;&nbsp;Southhampton, NY
  </a>
</address>

<a href="<%= @google_maps_link %>" target="blank">

<img src="http://files.human-nyc.com/newyorksunshine/assets/nys-map.svg">
</a>