<address>
  <a href="<%= @google_maps_link %>" target="blank">
    New York Sunshine / Surf Club / 28 Nugent St / Southhampton, NY
  </a>
</address>

<a href="<%= @google_maps_link %>" target="blank">

<img src="http://files.human-nyc.com/newyorksunshine/assets/nys-map.svg">
</a>