%default-typography {
  font: 12px/1.5 "andale_monoregular";
  // letter-spacing: 2.5px;
  // letter-spacing: 1px;
  // height: 100%;
  word-spacing: 0.8px;
}


%layout-main-container {
    position: relative;
    margin: 0 auto;

    @media #{$tablet-portrait} {
      width: 1024px;
    }

    @media #{$widescreen} {
      width: 1200px;
      background: purple;
    }
}


%sprite {
  background-image: image-url('sprite.svg');
  background-repeat: no-repeat;
  background-size: 378px 126px;
}

