%default-typography {
  font: 13px/1.5 "andale_monoregular";
  // letter-spacing: 0.8px;
  // word-spacing: 0.8px;
}


// // %layout-main-container {

//     @media #{$tablet-portrait} {
//       width: 1024px;
//     }

//     @media #{$widescreen} {
//       width: 1200px;
//     }
// }


%sprite {
  background-image: image-url('sprite.svg');
  background-repeat: no-repeat;
  background-size: 378px 168px;
}

