%default-typography {
  font: 12px/1.5 "andale_monoregular";
  // letter-spacing: 2.5px;
  letter-spacing: 1px;
  height: 100%;
  word-spacing: 0.8px;
}


%layout-main-container {
    position: relative;
    // width: 960px;
    margin: 0 auto;
    @media #{$widescreen} {
      // width: 1200px;
    }
}


%sprite {
  background-image: image-url('sprite.svg');
  background-repeat: no-repeat;
  background-size: 378px 126px;
}

