#home {
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('http://trcproducts.in/NYS/Content/caution2017.jpg');
    background-color:#ffff00;  
   
  }
  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

  }
  video {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: white;
  }
  .wide {
    width: 100%;
  }
  .tall {
    height: 100%;
  }
  #equivalent, #equivalent-check, footer, #subscribe-wrapper {
    display: none;
  }
}

header {
  padding: 0;
}
nav.main-nav {
  margin-top: 0px;
  opacity: 1;
  pointer-events: auto;
}
@media (min-width: 768px) {
  nav.main-nav {
    justify-content: flex-end;
    > a:nth-child(3) {
      margin: 0;
    }
  }
}
#onTop {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

@media (max-width: 768px) {
  #home {
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('http://trcproducts.in/NYS/Content/caution2017mobile.jpg');
    background-color:#ffff00;  
  }
    
    header {
	height: 48px;
	overflow: hidden;
	background-color: #009900;	
}

header h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 28px;
	line-height: 48px;
	margin-left: 15px;
	float: left;	
}

header nav ul {
	display: none;	
}

.btn-menu {
	display: block;
	float: right;
	margin-top: 13px;
	margin-bottom: 2px;
	margin-right: 13px;
	border: 0;
	width: 40px;
	height: 25px;
	background-color: transparent;
	cursor: pointer;
	display: block;
	position: relative;
}

.btn-menu:focus {
	outline: 1px dotted #E0AE19;	
}

.show_menu .btn-menu:focus {
	outline: none;	
}

.btn-menu .text {
	display: block;
	text-indent: 150%;
	white-space: nowrap;
	overflow: hidden;	
}

.btn-menu .bar,
.btn-menu .bar:before,
.btn-menu .bar:after {
	display: block;
	position: absolute;
	width: 40px;
	height: 5px;
	background-color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.btn-menu .bar {
	top: 10px;
	left: 0;	
}
	
.btn-menu .bar:before {
	position: absolute;
	content: '';
	top: 10px;
	left: 0;
}

.btn-menu .bar:after {
	position: absolute;
	content: '';
	top: -10px;	
	left: 0;
}

.show .btn-menu .bar {
	background-color: transparent;	
}

.show .btn-menu .bar:before {
	top: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);	
}

.show .btn-menu .bar:after {
	top: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);	
}

.mobile-nav {
	height: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #009900;
	border: 1px solid #005500;
	border-top: none;
	border-bottom: none;
	-webkit-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;	
}

.mobile-nav a {
	text-decoration: none;
	color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-indent: 10px;
	display: block;
	line-height: 42px;
	border-bottom: 1px solid #005500;	
}

.mobile-nav a:focus,
.mobile-nav a:hover,
.mobile-nav a:active {
	background-color: #004301;	
}

.mobile-nav li:first-child a {
	border-top: 1px solid #005500;	
}

.show .mobile-nav {
	height: auto;
}

.mobile-nav .dd + ul {
	height: 0;
	overflow: hidden;
	background-color: #093CB3;
	-webkit-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;	
}

.mobile-nav .dd + ul a {
	text-indent: 30px;	
}

.mobile-nav .dd + ul a:focus,
.mobile-nav .dd + ul a:hover,
.mobile-nav .dd + ul a:active {
	background-color: #001E66;	
}

.mobile-nav .dd:after {
	content: '\25BC';
	margin-left: 5px;
	font-size: 12px;	
}

.mobile-nav .dd-show + ul {
	height: auto;	
}
  }
  #onTop {
       display:none;
  }
  .homevideooverlay {
  display:none;
  }
  .video-container {
    z-index: -1;
  }
  nav.main-nav {
  opacity: 0;
  }
  #content {
    margin:40px 10px 10px 10px;
    position: relative;
  }
}

#products .pagination, #products #sidebar {
    display: block !important;
    visibility: visible;
    z-index: 1000000000000;
    position: relative;
}
#products .pagination li {
    display: inline-block;
}
header {
    z-index: 3!important;
}
/*.video-container iframe, .video-container object, .video-container embed { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}
 .video-container {
   
}
*/
.product-background {
display:none;
}
#home {
  @media (max-width: 768px) {
  nav.main-nav {
    opacity:1;
    }
}
}
