#home {
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('http://trcproducts.in/NYS/Content/caution2017.jpg');
    background-color:#fff00;  
   
  }
  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

  }
  video {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: white;
  }
  .wide {
    width: 100%;
  }
  .tall {
    height: 100%;
  }
  #equivalent, #equivalent-check, footer, #subscribe-wrapper {
    display: none;
  }
}

header {
  padding: 0;
}
nav.main-nav {
  margin-top: 0px;
  opacity: 1;
  pointer-events: auto;
}
@media (min-width: 768px) {
  nav.main-nav {
    justify-content: flex-end;
    > a:nth-child(3) {
      margin: 0;
    }
  }
}
#onTop {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

@media (max-width: 768px) {
  #home {
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('http://trcproducts.in/NYS/Content/caution2017mobile.jpg');
    background-color:#ffff00;  
  }
  }
  #onTop {
       display:none;
  }
  .homevideooverlay {
  display:none;
  }
  .video-container {
    z-index: -1;
  }
  nav.main-nav {
  opacity: 0;
  }
  #content {
    margin:40px 10px 10px 10px;
    position: relative;
  }
}

#products .pagination, #products #sidebar {
    display: block !important;
    visibility: visible;
    z-index: 1000000000000;
    position: relative;
}
#products .pagination li {
    display: inline-block;
}
header {
    z-index: 3!important;
}
/*.video-container iframe, .video-container object, .video-container embed { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}
 .video-container {
   
}
*/
.product-background {
display:none;
}
#home {
  @media (max-width: 768px) {
  nav.main-nav {
    opacity:1;
    }
}
}
