$gray: #666666;
$matteBlack: #272727;

// $alert: red;
$alert: rgb(238, 0, 0);


$fast: 400ms;
$slow: 800ms;

// Media Queries
$mobile-landscape: "(min-width: 480px)";
$tablet-portrait: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";
$widescreen: "(min-width: 1284px)";
$retina: "(-webkit-min-device-pixel-ratio: 2) and (min-resolution: 2dppx)";
$non-retina: "-webkit-max-device-pixel-ratio: 1";

$main-container-width: 1024px;
