body.arts {
  #video-container {
    // display: none;
    position:relative;

    @media #{$desktop} {
      display: block;
      margin-top: -10.5em;
      overflow: hidden;
      width: 100vw;
      height: 100vh;
    }

  }

  video {
    // display: block;
    position: relative;

    width: 100%;
    display: none;
    @media #{$desktop} {
      display: block;
    }

    @media (min-aspect-ratio: 16/9) and #{$desktop} {
      min-width: 100vw;
    }
    @media (max-aspect-ratio: 16/9) and #{$desktop} {
      min-height: 100vh;
    }

    @media #{$desktop} {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }


    &[data-state="paused"] + .description {
      background: hsla(0,0%,0%,0.850);
      color: white;
      transition-duration: $fast*2;
    }

    &[data-state="paused"]  ~ .top-area {
      cursor: image-url("e-resize.png"), e-resize;
    }

  }


  .description {
    @media #{$desktop} {
      margin: auto;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100vh;
      color: transparent;
      background: transparent;
      transition-duration: $slow;
      transition-property: background, color;
    }
    margin: 1em;
    .inner {
      @media #{$desktop} {
        // margin: 0 32px;
        margin-top: 5.25em;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .top-area {
    display: none;
    @media #{$desktop} {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 50%;
      left: 0;
      cursor: help;
    }
  }
  .bottom-area {
    display: none;
    @media #{$desktop} {
      display: block;
      cursor: image-url("s-resize.png"), s-resize;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 50%;
    }
  }

  #lookbook .thumbnails {
    display: block;
    text-align: center;
    width: auto;
  }
  #lookbook .thumbnail {
    display: inline-block;
    width: auto;
  }

  img.work {
    display: block;
    margin: auto;
    width: auto;
    height: 100px;
  }

}
