body.arts {
  #wrapper {
    margin-top: -130px;
    @media #{$desktop} {
      margin-top: 0;
    }
  }
  #video-container {
    // display: none;
    overflow: hidden;
    position:relative;
    background: url("//s3.amazonaws.com/newyorksunshine/hoop-dreams-v2.gif") no-repeat center top;
    background-size: 100% auto;
    z-index: -1;
    @media #{$desktop} {
      background: transparent;
      display: block;
      margin-top: -10.5em;
      overflow: hidden;
      width: 100vw;
      height: 100vh;
      z-index: 0;
    }
  }

  video {
    // display: block;
    position: relative;

    // width: 100%;
    display: none;
    @media #{$desktop} {
      display: block;
    }

    @media (min-aspect-ratio: 16/9) and #{$desktop} {
      min-width: 100vw;
    }
    @media (max-aspect-ratio: 16/9) and #{$desktop} {
      min-height: 100vh;
    }

    @media #{$desktop} {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }


    &[data-state="paused"] + .description {
      background: hsla(0,0%,0%,0.850);
      color: white;
      transition-duration: $fast*2;
    }

    &[data-state="paused"]  ~ .top-area {
      cursor: image-url("e-resize.png"), e-resize;
    }
  }

  html.touch video {
    display: none;
  }


  .description {
    background: hsla(0,0%,0%,0.850);
    color: white;
    transition-duration: $fast*2;
    padding: 1em;
    margin-top: 150vw;
    @media #{$desktop} {
      margin: auto;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100vh;
      color: transparent;
      background: transparent;
      transition-duration: $slow;
      transition-property: background, color;
    }
    .inner {
      @media #{$desktop} {
        margin-top: 5.25em;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .top-area {
    display: none;
    @media #{$desktop} {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 50%;
      left: 0;
      cursor: help;
    }
  }
  .bottom-area {
    display: none;
    @media #{$desktop} {
      display: block;
      cursor: image-url("s-resize.png"), s-resize;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 50%;
    }
  }

  #lookbook  {
    margin-top: 65px;
  }

  #lookbook .thumbnails {
    // background: red;
    display: block;
    text-align: center;
    width: auto;
  }
  #lookbook .thumbnail {
    display: inline-block;
    width: auto;
  }

  img.work {
    display: block;
    margin: auto;
    width: auto;
    height: 100px;
  }

}





//------------------------------------------------------------------------------


#artbook {
  // background: red;
  margin-top: 65px;
  overflow: hidden;
  // padding-top: 65px;
  position: relative;
  &:focus {
    outline: none;
  }
  #plane {
    // background: rebeccapurple;
    pointer-events: none;
    position: relative;
    @media #{$tablet-portrait} {
      padding: 0;
    }
  }

  .stage {
    display: block;
    pointer-events: none;
    transition: transform $slow;
    transform-style: preserve-3d;
    white-space: nowrap;
    @media #{$tablet-portrait} {
      margin: auto 30px;
    }

    min-height: 530px;
    height: calc(100vh - 200px);
    max-height: 720px;

  }

  .image-stretcher {
    border: 30px solid transparent;
    box-sizing: border-box;
    display: none;
    // width: 100%;
    height: 550px;
  }

  .slide {
    overflow: hidden;
    border: 26px solid transparent;
    border-top: none;
    border-bottom: none;
    backface-visibility: hidden;
    box-sizing: border-box;
    transition-property: opacity;
    transition-delay: $slow;


    transition-property: opacity;
    transition-duration: 800ms;
    transition-timing-function: ease;
    transition-delay: 0ms;


    vertical-align: top;
    // height: 280px;
    // @media #{$tablet-portrait} { height: 480px }
    // @media #{$widescreen} { height: calc(100vh - 5em - 156px) }


    @media (orientation:portrait) {
      height: calc(100vw - 16px);
    }
    @media (orientation:landscape) {
      height: calc(100vh - 16px);
    }

    @media #{$desktop} {
      min-height: 530px;
      height: calc(100vh - 200px);
      max-height: 720px;
      opacity: 0.50;
    }


    &:first-child {
      position: relative;
    }
    &.current,
    &.is-selected {
      opacity: 1;
    }

    .image {
      background-color: transparent;
      display: block;
      // margin: 4px;
      @media #{$tablet-portrait} {
        // margin: 4px;
      }
      box-sizing: border-box;
      line-height: normal;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      background-size: cover;
      height: 100%;
      position: absolute;
      top: 0;
    }

    .description {
      color: white;
      font-size: 7px;
      position: absolute;
      width: 25%;
      text-align: center;
      text-transform: uppercase;
      top: 0;
      left: 0;
      box-sizing: border-box;
      padding: 16px;
      width: 50%;
      @media #{$tablet-portrait} {
        font-size: 11px;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -100%);
        width: 25%;
      }
      a {
        color: inherit;
        pointer-events: auto;
        text-decoration: none;
        &:hover {
          text-decoration: line-through;
        }
      }
      address {
        font-style: normal;
      }
    }
  }

  .slide .image-stretcher {
    display: block;
  }

  &.two-dimensional .slide {
    display: inline-block;
    position: relative;
  }
  &.two-dimensional ul.stage {
    white-space: nowrap;
  }

  &.three-dimensional {
    .stage {
      // background: red;
      margin: auto;
      max-width: 940px;
    }
    .slide {
      position: absolute;
      top: 0;
      // right: 0;
      // bottom: 0;
      left: 50%;
    }
  }

  .capture {
    pointer-events: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 1;
    &.left {
      // background: hsla(128,100%,50%,0.50);
      cursor: image-url("w-resize.png"), w-resize;
      left: 0;
    }
    &.right {
      // background: hsla(200,100%,50%,0.50);
      cursor: image-url("e-resize.png"), e-resize;
      right: 0;
    }

    html.touch & {
      display: none;
    }

  }

}

body.arts {
  .thumbnails {
    display: none;
    @media #{$desktop} {
      cursor: pointer;
      font-size: 0;
      margin: 25px auto;
      display: block;
      margin: 4px 14vw 0;
    }
    text-align: center;
  }

  .thumbnail {
    box-sizing: border-box;
    display: inline-block;
    position: relative;

    &:hover img,
    &.current img,
    &:hover img,
    &.current img {
      opacity: 0.35;
      transition-duration: $fast;
    }

    @media #{$desktop} {
      border: 26px solid transparent;
    }

    img {
      height: 52px;
      transition: opacity $slow;
      -webkit-backface-visibility: hidden;
    }


  }
}

nav#lookbook-links + #lookbook {
  padding-top: 0;
}

//added by dhiraj on 20 May 2017 for new artbook section
#artbook-tank {
  // background: red;
  margin-top: 65px;
  overflow: hidden;
  // padding-top: 65px;
  position: relative;
  &:focus {
    outline: none;
  }
  #plane-tank {
    // background: rebeccapurple;
    pointer-events: none;
    position: relative;
    @media #{$tablet-portrait} {
      padding: 0;
    }
  }

  .stage {
    display: block;
    pointer-events: none;
    transition: transform $slow;
    transform-style: preserve-3d;
    white-space: nowrap;
    @media #{$tablet-portrait} {
      margin: auto 30px;
    }

    min-height: 530px;
    height: calc(100vh - 200px);
    max-height: 720px;

  }

  .image-stretcher {
    border: 30px solid transparent;
    box-sizing: border-box;
    display: none;
    // width: 100%;
    height: 550px;
  }

  .slide {
    overflow: hidden;
    border: 26px solid transparent;
    border-top: none;
    border-bottom: none;
    backface-visibility: hidden;
    box-sizing: border-box;
    transition-property: opacity;
    transition-delay: $slow;


    transition-property: opacity;
    transition-duration: 800ms;
    transition-timing-function: ease;
    transition-delay: 0ms;


    vertical-align: top;
    // height: 280px;
    // @media #{$tablet-portrait} { height: 480px }
    // @media #{$widescreen} { height: calc(100vh - 5em - 156px) }


    @media (orientation:portrait) {
      height: calc(100vw - 16px);
    }
    @media (orientation:landscape) {
      height: calc(100vh - 16px);
    }

    @media #{$desktop} {
      min-height: 530px;
      height: calc(100vh - 200px);
      max-height: 720px;
      opacity: 0.50;
    }


    &:first-child {
      position: relative;
    }
    &.current,
    &.is-selected {
      opacity: 1;
    }

    .image {
      background-color: transparent;
      display: block;
      // margin: 4px;
      @media #{$tablet-portrait} {
        // margin: 4px;
      }
      box-sizing: border-box;
      line-height: normal;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      background-size: cover;
      height: 100%;
      position: absolute;
      top: 0;
    }

    .description {
      color: white;
      font-size: 7px;
      position: absolute;
      width: 25%;
      text-align: center;
      text-transform: uppercase;
      top: 0;
      left: 0;
      box-sizing: border-box;
      padding: 16px;
      width: 50%;
      @media #{$tablet-portrait} {
        font-size: 11px;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -100%);
        width: 25%;
      }
      a {
        color: inherit;
        pointer-events: auto;
        text-decoration: none;
        &:hover {
          text-decoration: line-through;
        }
      }
      address {
        font-style: normal;
      }
    }
  }

  .slide .image-stretcher {
    display: block;
  }

  &.two-dimensional .slide {
    display: inline-block;
    position: relative;
  }
  &.two-dimensional ul.stage {
    white-space: nowrap;
  }

  &.three-dimensional {
    .stage {
      // background: red;
      margin: auto;
      max-width: 940px;
    }
    .slide {
      position: absolute;
      top: 0;
      // right: 0;
      // bottom: 0;
      left: 50%;
    }
  }

  .capture {
    pointer-events: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 1;
    &.left {
      // background: hsla(128,100%,50%,0.50);
      cursor: image-url("w-resize.png"), w-resize;
      left: 0;
    }
    &.right {
      // background: hsla(200,100%,50%,0.50);
      cursor: image-url("e-resize.png"), e-resize;
      right: 0;
    }

    html.touch & {
      display: none;
    }

  }

}
