body.arts {
  #video-container {
    margin-top: -10.5em;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  video {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-aspect-ratio: 16/9) {
      min-width: 100vw;
    }
    @media (max-aspect-ratio: 16/9) {
      min-height: 100vh;
    }



    &[data-state="paused"] + .description {
      background: hsla(0,0%,0%,0.850);
      color: white;
      transition-duration: $fast*2;
    }

    &[data-state="paused"]  ~ .top-area {
      cursor: image-url("e-resize.png"), e-resize;
    }

  }


  .description {
    margin: auto;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    color: transparent;
    background: transparent;
    transition-duration: $slow;
    transition-property: background, color;

    .inner {
      // margin: 0 32px;
      margin-top: 5.25em;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .top-area {
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    left: 0;
    cursor: help;
  }
  .bottom-area {
    cursor: image-url("s-resize.png"), s-resize;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50%;
  }

  #lookbook .thumbnails {
    display: block;
    text-align: center;
    width: auto;
  }
  #lookbook .thumbnail {
    display: inline-block;
    width: auto;
  }

  img.work {
    display: block;
    margin: auto;
    width: auto;
    height: 100px;
  }

}

// #lookbook { background: red }

