/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#lookbook {
  // background: black;
  margin: auto;
  // width: 960px;
  // width: 1182px;
  // overflow: hidden;
  // width: 100%;
  overflow: hidden;
  position: relative;

  img.look {
    display: block;
    width: 960px;
    height: 600px;
    filter: grayscale(99%);
    width: 1182px;
    height: 856px;

    pointer-events: auto;
    opacity: .65;
    // opacity: 0.15;
    // opacity: 0;
    position: absolute;
    backface-visibility: hidden;

    transition-property: transform, opacity;
    transition-duration: $slow, $slow;
    // transition-timing-function: ease, linear;

    &.current {
      opacity: 1;
      pointer-events: none;
      // transition-duration: $slow, $slow/2;
    }
  }
}

#plane {
  // overflow: hidden;
  perspective: 2560px;
  pointer-events: none;
}

.stage {
  margin: auto;
  pointer-events: none;
  width: 960px;
  height: 600px;

  width: 1182px;
  height: 856px;

  transition-duration: $slow;
  // transition-timing-function: linear;
  transform-style: preserve-3d;

}

.captures {
  margin: auto;
  width: 960px;
  height: 600px;
  margin-top: -600px;

  width: 1182px;
  height: 856px;
  margin-top: -856px;



  display: flex;
  // transform: translateY(-100%);

  .left {
    // background: orange;
    cursor: w-resize;
    flex: 1 1 50%;
  }
  .right {
    // background: red;
    cursor: e-resize;
    flex: 1 1 50%;
  }
}



.thumbnails {
  // background: black;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  margin: 33px auto;
  width: 1038px;
}

.thumbnail {
  backface-visibility: hidden;
  width: 100%;
  padding: 33px;
  flex: 1 1 280px;
  filter: grayscale(99%);

  height: auto;
  transition-duration: $slow;
  &:hover,
  &.current {
    opacity: 0.35;
    transition-duration: $fast;
  }
}

