// body.lookbooks { background: url("http://files.human-nyc.com/newyorksunshine/lookbook-2.jpg") center top no-repeat }

body.lookbooks #content {
  margin: 56px auto 0;
  width: auto;
}

nav#lookbook-links {
  display: flex;
  justify-content: center;
  // padding-top: 65px;
  // @media #{$tablet-portrait} {
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   transform: translateY(-100%);
  // }
  a {
    color: inherit;
    display: block;
    padding: 1.56em 3.6em;
    text-decoration: none;
    &.selected,
    &:hover {
      text-decoration: line-through;
    }
  }
}

#lookbook {
  // background: red;
  overflow: hidden;
  // padding-top: 65px;
  position: relative;
  #plane {
    // background: rebeccapurple;
    pointer-events: none;
    position: relative;
    text-align: center;
    @media #{$tablet-portrait} {
      padding: 0;
    }
  }

  .stage {
    display: inline-block;
    padding-left: 0;
    pointer-events: none;
    transition: transform $slow;
    transform-style: preserve-3d;
    white-space: nowrap;
    @media #{$tablet-portrait} {
      margin: auto 30px;
    }

  }

  .image-stretcher {
    background: green;
    border: 30px solid transparent;
    box-sizing: border-box;
    // display: none;
    // width: 100%;
    height: 550px;

    min-height: 530px;
    height: calc(100vh - 200px);
    max-height: 720px;

  }

  .slide {
    overflow: hidden;
    border: 26px solid transparent;
    border-top: none;
    border-bottom: none;
    backface-visibility: hidden;
    box-sizing: border-box;
    transition-property: opacity;
    transition-delay: $slow;
    vertical-align: top;
    // height: 280px;

    @media #{$tablet-portrait} {
      // height: 480px;
    }

    @media #{$widescreen} {
      // height: calc(100vh - 5em - 156px);
    }

    .image-stretcher {
      background: orange;
    }


    &:first-child {
      position: relative;
    }
    &.current {
      opacity: 1;
      pointer-events: none;
      transition-duration: 0ms;
      transition-delay: 0ms;
    }

    .image {
      background-color: transparent;
      display: block;
      // margin: 4px;
      @media #{$tablet-portrait} {
        // margin: 4px;
      }
      box-sizing: border-box;
      line-height: normal;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      background-size: cover;
      height: 100%;
      // position: absolute;
      transform: translateY(-100%);
      top: 0;
      &.style-1 {
        width: calc(100% - 8px);
      }
      &.style-2 {
        float: left;
        width: calc(50% - 8px);
      }
      &.style-2:nth-child(2) {
        left: 0;
      }
      &.style-2:nth-child(3) {
        left: calc(50% + 16px);
      }


      &.style-3 {
        float: left;
        width: calc(100%/3 - 8px);
      }
    }

    .description {
      color: white;
      font-size: 7px;
      position: absolute;
      width: 25%;
      text-align: center;
      text-transform: uppercase;
      top: 0;
      left: 0;
      box-sizing: border-box;
      padding: 16px;
      width: 50%;
      @media #{$tablet-portrait} {
        font-size: 11px;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -100%);
        width: 25%;
      }
      a {
        color: inherit;
        pointer-events: auto;
        text-decoration: none;
        &:hover {
          text-decoration: line-through;
        }
      }
      address {
        font-style: normal;
      }
    }
  }

  .slide .image-stretcher {
    display: block;
  }

  &.two-dimensional .slide {
    display: inline-block;
    position: relative;
  }
  &.two-dimensional ul.stage {
    white-space: nowrap;
  }

  &.three-dimensional .slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .capture {
    pointer-events: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    &.left {
      // background: hsla(128,100%,50%,0.50);
      cursor: image-url("w-resize.png"), w-resize;
      left: 0;
    }
    &.right {
      // background: hsla(200,100%,50%,0.50);
      cursor: image-url("e-resize.png"), e-resize;
      right: 0;
    }
  }

  .thumbnails {
    cursor: pointer;
    display: flex;
    flex-flow: wrap;
    font-size: 0;
    // @media #{$tablet-portrait} {
      // margin: 4px 14vw 0;
    // }
    margin: 4px auto 0;
    max-width: 960px;
  }

  .thumbnail {
    width: calc(100%/3);
    box-sizing: border-box;
    position: relative;
    width: calc(100%/2);
    border: 26px solid transparent;
    @media #{$tablet-portrait} {
      &:hover,
      &.current,
      &:hover,
      &.current {
        opacity: 0.35;
        transition-duration: $fast;
      }
      transition: opacity $slow;
    }

    @media #{$desktop} {
      width: calc(100%/3);
    }

    &.style-1 {
      .look {
        left: 0;
        right: 0;
      }
    }
    &.style-2 {
      .look {
        &:nth-child(2) {
          left: 0;
          right: 50%;
        }
        &:nth-child(3) {
          left: 50%;
          right: 0;
        }
      }
    }
    &.style-3 {
      .look {
        &:nth-child(2) {
          left: 0;
          right: calc(100%/3);
        }
        &:nth-child(3) {
          left: calc(100%/3);
          right: calc(200%/3);
        }
        &:nth-child(4) {
          left: calc(200%/3);
          right: 0;
        }
      }
    }

    .look {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background: #909090;
      box-sizing: border-box;
      pointer-events: none;
      transition: opacity $slow;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 4px;
      @media #{$tablet-portrait} {
        margin: 16px;
        margin: 4px;
      }
    }
  }

  .thumbnail-image-stretcher {
    box-sizing: border-box;
    display: block;
    border: 4px solid transparent;
    width: 100%;
  }
}

nav#lookbook-links + #lookbook {
  padding-top: 0;
}