// body#lookbooks_show {
//   background: url('http://files.human-nyc.com/newyorksunshine/lookbook-2.jpg') top center no-repeat;
// }

nav#lookbook-links {
  margin: 14px 0;
  text-align: center;
  a, span {
    color: inherit;
    text-decoration: none;
    &:hover,
    &.selected {
      text-decoration: line-through;
    }
  }
}

#lookbook-wrapper {
  position: relative;

  .capture {
    pointer-events: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;

    html.touch & {
      display: none;
    }

    &.left {
      // background: hsla(128,100%,50%,0.50);
      cursor: image-url("w-resize.png"), w-resize;
      left: 0;
    }
    &.right {
      // background: hsla(200,100%,50%,0.50);
      cursor: image-url("e-resize.png"), e-resize;
      right: 0;
    }
  }

}

ul#lookbook {
  margin: 39px 0 29px;
  // overflow-x: scroll;
  overflow: hidden;
  padding-left: 0;
  white-space: nowrap;
  &:focus {
    outline-style: none;
  }
  li {
    display: inline-block;
    html.no-touch & img.look {
      -webkit-filter: grayscale(100%);
      transition-duration: $slow;
    }
    html.no-touch &.is-selected img.look {
      -webkit-filter: none;
    }

  }
  img.look {
    display: inline-block;
    margin: 0 4px;
    white-space: nowrap;
    padding: 0 calc(30px - 4px);
    box-sizing: border-box;
    width: 100vw;
    // height: 56.25vw;
    @media #{$desktop} {
      width: auto;
      min-height: 530px;
      height: calc(100vh - 65px - 65px);
      max-height: 856px;
    }

  }
}

ul#thumbnails {
  display: none;

  @media #{$desktop} {
    display: block;
    padding-left: 0;
    text-align: center;
    li {
      cursor: pointer;
      display: inline-block;
      padding: 30px calc(30px - 4px);
      &:hover img {
        opacity: 0.50;
        transition-duration: $fast;
      }

      html.no-touch & {
        img {
          -webkit-filter: grayscale(100%);
        }
        &.current img {
          -webkit-filter: none;
        }
      }

      img {
        height: 202px;
        margin: 0 4px;
        transition-duration: $slow;
        white-space: nowrap;
      }
    }


  }

}
