body#lookbooks #content {
  width: auto;
}

/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#lookbook-links {
  // text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 0 2em;
  a {
    color: inherit;
    display: block;
    padding: 1em 2em;
    text-decoration: none;
    &:hover {
      text-decoration: line-through;
    }
  }
}

#lookbook {
  // background: black;
  margin: auto;
  // width: 960px;
  // width: 1182px;
  // overflow: hidden;
  // width: 100%;
  overflow: hidden;
  position: relative;

  img.look {
    display: block;
    width: 960px;
    height: 600px;
    filter: grayscale(99%);
    width: 1182px;
    height: 856px;

    // pointer-events: auto;
    opacity: .65;
    // opacity: 0.15;
    // opacity: 0;
    position: absolute;
    backface-visibility: hidden;

    box-sizing: border-box;
    padding: 33px;

    transition-property: transform, opacity;
    transition-duration: $slow, $slow;
    // transition-timing-function: ease, linear;

    &.current {
      opacity: 1;
      pointer-events: none;
      // transition-duration: $slow, $slow/2;
    }
  }
}

#plane {
  // perspective: 2560px;
  pointer-events: none;
}

.stage {
  margin: auto;
  pointer-events: none;
  width: 960px;
  height: 600px;

  width: 1182px;
  height: 856px;

  transition-duration: $slow;
  // transition-timing-function: linear;
  transform-style: preserve-3d;

}

.captures {
  margin: auto;
  // width: 960px;
  height: 600px;
  margin-top: -600px;

  // width: 1182px;
  height: 856px;
  margin-top: -856px;



  display: flex;
  // transform: translateY(-100%);

  .left {
    // cursor: asset-url("w-resize.svg"), asset-url("w-resize.png"), w-resize;
    cursor: asset-url("w-resize.png"), w-resize;
    flex: 1 1 50%;
  }
  .right {
    // cursor: asset-url("e-resize.svg"), asset-url("e-resize.png"), e-resize;
    cursor: asset-url("e-resize.png"), e-resize;
    flex: 1 1 50%;
  }
}



.thumbnails {
  // background: black;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 33px;
  width: 1038px;
  align-items: center;
  // justify-content: center;
  justify-content: flex-start;
}

.thumbnail {
  backface-visibility: hidden;
  width: 100%;
  padding: 33px;
  flex: 0 1 280px;
  filter: grayscale(99%);

  height: auto;
  transition-duration: $slow;
  &:hover,
  &.current {
    opacity: 0.35;
    transition-duration: $fast;
  }
}

