body.news {

  #content {
    max-width: 1024px;
  }

  article.post {
    margin: 64px 32px;
    position: relative;
    &:first-child {
      margin-top: 0;
    }
  }

  .text {
    @media #{$tablet-portrait} {
      position: relative;
    }
  }
  h4 {
    @media #{$tablet-portrait} {
      padding-right: 6em;
    }
    a {
      color: inherit;
    }
  }
  .date {
    @media #{$tablet-portrait} {
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  a.solo-image-link {
    display: block;
  }

  img.solo-image {
    background-color: #E5E5E5;
    display: block;
    margin: auto;
    width: 100%;
  }

  .slideshow {
    @media #{$tablet-portrait} {
      cursor: image-url("e-resize.png"), e-resize;
    }
  }
  .stage {
    margin: 0 -32px;
    padding-left: 0;
    position: relative;
    white-space: nowrap;
    opacity: 0;
    overflow: scroll;
    white-space: nowrap;
    // height: calc(100vh - 61px);

    @media #{$tablet-portrait} {
      // height: calc(100vh - 61px);
      margin: 0 -16px;
      overflow: visible;
      // transition: transform $slow;
      // white-space: normal;
      white-space: nowrap;
    }

    &.active {
      opacity: 1;
      transition: transform $slow, opacity $fast;
    }


  }
  .slide {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity $slow;
    margin: 0 16px;
    @media (max-width: 767px) {
      background: none !important;
    }
    @media #{$tablet-portrait} {
      display: block;
      // position: absolute;
      // top: 0;
      // right: 0;
      // bottom: 0;
      // left: 0;
      display: inline-block;
      height: 100%;
      margin: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
    }
    &:first-child {
      position: relative;
      margin-left: 32px;
      @media #{$tablet-portrait} {
        margin: 0;
      }
      img {
        // max-width: calc(100vw - 64px);
        // max-height: 100vh;
        // height: auto;
        // @media #{$tablet-portrait} {
        //   display: block;
        //   width: 100%;
        // }
      }

      @media #{$tablet-portrait} {
      }
    }
    &:last-child {
      margin-right: 32px;
      @media #{$tablet-portrait} {
        margin: 0;
      }
    }

    img {
      height: calc(100vh - 65px - 40px);
      min-height: 520px;
      max-height: 720px;
    }
  }

  .embed {
    filter: grayscale(100%);
    margin-top: 1em;
  }

  .body-text {
    box-sizing: border-box;
    padding-right: 32px;
    width: 50%;
    &.two-columns {
      padding-right: 0;
      width: auto;
      @media #{$desktop} {
        column-count: 2;
        column-gap: 64px;
      }
    }

    p:first-child {
      margin: 0 0 1em;
    }
    p:last-child {
      margin: 0 0 1em;
    }
  }

  // a.solo-image-link + .embed,
  // img.solo-image + .embed,
  // .slideshow + .embed {
  //   margin-top: 1em;
  // }

  p.tags {
    color: $gray;
    float: right;
    margin: 0;
    a {
      color: inherit;
      text-decoration: none;
      transition: color $slow;
      &:hover {
        color: $matteBlack;
        color: white;
        transition-duration: $fast;
      }
    }
  }

  p.clickthrough-link:first-child {
    margin: 0;
  }
  p.clickthrough-link a {
    color: inherit;
  }
}