body.orders.edit {
  text-align: center;

  th.cart-item-total-header {
    text-align: center;
  }

  td.cart-item-image {
    a {
      display: block;
      img {
        display: block;
        transition-duration: $slow;
        width: 100%;
      }
      &:hover img {
        opacity: 0.50;
        transition-duration: $fast;
      }
    }
  }

  td.cart-item-description {
    text-align: left;
    a.item-name {
      color: inherit;
      display: inline-block;
      line-height: normal;
      padding: 14px 16px 14px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  td.cart-item-variant {
    text-align: left;
    // vertical-align: bottom;
  }
  td.cart-item-quantity {
    width: 20px;
  }
  td.cart-item-delete {
    text-align: right;
  }

  input.line_item_quantity {

    background: hsl(0, 0%, 90%);
    border: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-right: 0.25em;
    text-align: center;
    width: 4em;
  }


  a.delete {
    border-radius: 50%;
    display: block;
    overflow: hidden;
    position: relative;
    transition: opacity $slow;
    width: 42px;
    height: 42px;
    &:before {
      content: "";
      display: block;
      @extend %sprite;
      background-position: -252px -42px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: rotate(45deg);
    }
    &:hover {
      opacity: 0.50;
      transition-duration: $fast;
    }
  }

  .cart-buttons {
    display: flex;
    .side {
      flex: 1 1 50%;
      &.left {
        text-align: left;
      }
      &.right {
        text-align: right;
      }
    }

    input#order_coupon_code {
      width: 20em;
      &::-webkit-input-placeholder { text-transform: uppercase }
      &:-moz-placeholder { text-transform: uppercase }
      &::-moz-placeholder { text-transform: uppercase }
      &:-ms-input-placeholder { text-transform: uppercase }
    }

  }


}

