#press-link {
  text-align: center;
  width: 100%;
  margin: 0 0 3% 0;
}

#press-link img {
  display: block;
  margin: auto;
  width: 225px;
  height: 50px;
  @media #{$desktop} {
    width: 450px;
    height: 100px;
  }
  -webkit-filter: grayscale(100%) opacity(1);
  filter: grayscale(100%) opacity(1);
  transition-duration: $slow;
  transition-property: filter;
  &:hover {
    -webkit-filter: opacity(.7);
    -moz-filter: opacity(.7);
    filter: opacity(.7);
  }
}

.i-d {
  text-align: center;
  width: 100%;
  margin: 0 0 3% 0;
}

.i-d img {
  display: block;
  margin: auto;
  width: 112.5px;
  height: 50px;
  @media #{$desktop} {
    width: 225px;
    height: 100px;
  }
  -webkit-filter: grayscale(100%) opacity(1);
  filter: grayscale(100%) opacity(1);
  transition-duration: $slow;
  transition-property: filter;
  &:hover {
    -webkit-filter: opacity(.7);
    -moz-filter: opacity(.7);
    filter: opacity(.7);
  }
}

.desillusion {
  text-align: center;
  width: 100%;
  margin: 0 0 3% 0;
}

.desillusion img {
  display: block;
  margin: auto;
  width: 225px;
  height: 35px;
  @media #{$desktop} {
    width: 450px;
    height: 50px;
  }
  -webkit-filter: grayscale(100%) opacity(1);
  filter: grayscale(100%) opacity(1);
  transition-duration: $slow;
  transition-property: filter;
  &:hover {
    -webkit-filter: opacity(.7);
    -moz-filter: opacity(.7);
    filter: opacity(.7);
  }
}

.designboom {
  text-align: center;
  width: 100%;
  margin: 0 0 3% 0;
}

.designboom img {
  display: block;
  margin: auto;
  width: 225px;
  height: 40px;
  @media #{$desktop} {
    width: 400px;
    height: 100px;
  }
  -webkit-filter: grayscale(100%) opacity(1);
  filter: grayscale(100%) opacity(1);
  transition-duration: $slow;
  transition-property: filter;
  &:hover {
    -webkit-filter: opacity(.7);
    -moz-filter: opacity(.7);
    filter: opacity(.7);
  }
}
