dl#stockists {
  line-height: normal;
  margin: 0;
  text-align: center;
  // white-space: pre;


  dt {
    margin-top: 5em;
    &:first-child {
      margin-top: 0;
    }
  }

  dd {
    margin-bottom: 5em;
    margin-left: 0;
  }

  address {
    display: block;
    font-style: normal;
  }

  a {
    &:before {
      content: " ";
      display: block;
    }
    clear: both;
    color: inherit;
  }

}