.feed {
  column-count: 2;
  @media #{$tablet-portrait} {
    column-count: 3;
    column-gap: 0;
  }

  a {
    color: white;
    display: inline-block;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    @media #{$tablet-portrait} {
      border: 32px solid white;
    }

    &:after {
      background: transparent;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition-duration: $slow;
    }

    img {
      background: white;
      display: block;
      // padding: 1.75em;
      width: 100%;
      // transition-duration: $slow;
      // filter: grayscale(99%);
      width: 100%;
      @media #{$tablet-portrait} {
        // height: 415px;
      }
    }

    // background: #272727;
    // img {
    //   opacity: .5;
    // }



    .info {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      color: transparent;
      text-align: center;
      width: 100%;
      transition-duration: $slow;
      height: 2.4em;
      z-index: 1;
    }


    &:hover {
      .info {
        color: $matteBlack;
        transition-duration: $fast;
      }
      &:after {
        background: hsla(0, 0%, 100%, 0.95);
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition-duration: $fast;
      }
    }
  }
}

nav.pagination {
  text-align: center;
}