h1#logo {
  display: inline-block;
  margin: 0;
  position: relative;
  z-index: 1;
}
h1#logo a {
  color: $matteBlack;
  display: block;
  font-size: 33px;
  position: relative;
  text-decoration: none;
  text-indent: -9999px;
  transition-duration: $slow;
  transition-property: opacity;
  @extend %sprite;
  background-position: 0 -84px;
  width: 84px;
  height: 42px;
  @media #{$desktop} {
    background-position: 0 -168px;
    width: 340px;
  }



  &:hover {
    opacity: 0.50;
    transition-duration: $fast;
  }
}

label#equivalent {
  cursor: pointer;
  line-height: 1;
  position: absolute;
  z-index: 9999;
  left: 0;
  width: 52px;
  height: 42px;
  @extend %sprite;
  background-position: -123x -126px;
  @media #{$tablet-portrait} { display: none }
}

input#equivalent-check { display: none }

nav.main-nav {
  font-size: 0;
	text-align: center;
	text-transform: uppercase;
  height: 0;
  opacity: 0;
  // overflow: hidden;
  pointer-events: none;
  transition-duration: $fast;
  transition-property: height, opacity;
  @media #{$tablet-portrait} {
    margin-top: -50px;
    height: auto;
    opacity: 1;
    pointer-events: auto;
  }
  input#equivalent-check:checked + & {
    height: 360px;
    opacity: 1;
    pointer-events: auto;
    transition-delay: 0ms, $fast;
  }
  a {
    color: inherit;
    text-decoration: none;
    &.current {
      text-decoration: line-through;
    }
  }
	& > a,
  & > span {
    color: black;
		display: block;
    font-size: 11px;
    padding: 2em 1.85em;
    @media #{$tablet-portrait} {
      padding: 2em 1.85em;
    }
    @media #{$desktop} {
      padding: 2em 1.85em;
    }
    @media #{$widescreen} {
      padding: 2em 3.6em;
    }


    @media #{$tablet-portrait} {
      display: inline-block;

      &:nth-child(3) {
        margin-right: 64px;
      }
      &:nth-child(4) {
        margin-left: 64px;
      }
    }
    @media #{$desktop} {
      &:nth-child(3) {
        margin-right: 188px;
      }
      &:nth-child(4) {
        margin-left: 188px;
      }
    }



    body.taxons &.shop,
    body.products &.shop {
      text-decoration: line-through;
    }


    &:hover {
      text-decoration: line-through;
    }
	}
}

