.shipment {
  // background: orange;

  h4.stock-shipping-method-title {
    text-align: center;
  }

  ul.field.radios.shipping-methods {
    display: flex;
    list-style-type: none;
    padding: 0;
    text-align: center;
    li.shipping-method {
      flex: 1 1 auto;
      label {
        cursor: pointer;
      }
    }
  }
}