span.required {
  color: $alert;
}

body.checkout.edit {
  .row[data-hook="checkout_header"] {
    @media #{$tablet-portrait} {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }
    h1 {
      margin: 0 30px 0 0;
      text-align: center;
      width: 100%;
      @media #{$tablet-portrait} {
        width: auto;
      }
    }
  }

  ol.progress-steps {
    // background: orange;
    padding: 0;
    list-style-position: inside;
    width: 100%;
    @media #{$tablet-portrait} {
      display: flex;
      flex: 1 1 auto;
      flex-direction: row nowrap;
      // flex-direction: column;
    }

    li {
      flex: 1 1 auto;
      padding: 14px 16px;
      &.current-first,
      &.current {
        background: black;
        color: white;
      }
      &.completed-first,
      &.completed {
        background: #E5E5E5;
      }
      a {
        color: inherit;
      }
    }
  }

  form#checkout_form_address.edit_order {
    display: flex;
    flex-flow: row wrap;
    @media #{$tablet-portrait} {
      // width: 850px;
    }
    @media #{$widescreen} {
      // width: 960px;
    }
  }

  .billing_fieldset_wrapper,
  .shipping_fieldset_wrapper {
    flex: 1 1 auto;
    flex-flow: row wrap;
    width: 100%;
    @media #{$tablet-portrait} {
      width: 50%;
    }
  }

  fieldset {
    border: none;
    border-top: 1px solid $gray;
    margin: 11px 0;
    width: auto;
  }
  legend {
    padding: 0 11px;
    text-transform: uppercase;
  }


  p[data-hook="use_billing"] {
    float: right;
    margin: 0;
  }

  label[for] {
    cursor: pointer;
  }

  input[type="text"],
  input[type="tel"] {
    width: 100%;
  }

  input.error {
    border-color: $alert;
  }

  select {
    width: 100%;
  }

  label.error {
    color: $alert;
    display: block;
    width: auto;
  }


  .form-buttons {
    width: 100%;
  }

  span.field_with_errors {
    color: red;
  }


  .checkout_content {
    // & > .columns {
    //   background: oldLace;
    //   flex: 1 1 auto;
    // }

    @media #{$tablet-portrait} {
      display: flex;
      // flex-flow: column wrap;
    }


    .columns.alpha.twelve {
      @media #{$tablet-portrait} {
        width: 800px;
      }
      @media #{$widescreen} {
        width: 960px;
      }
    }

  }

  #checkout-summary {
    width: 100%;
    @media #{$tablet-portrait} {
      width: 218px;
    }
  }
}

#checkout {
  margin: 0 8px;
}

.form-buttons {
  text-align: center;
}