body.checkout.update {
  background: magenta;

  form#checkout_form_address.edit_order {
    display: flex;
    flex-flow: row wrap;
  }

  .billing_fieldset_wrapper,
  .shipping_fieldset_wrapper {
    flex: 1 1 50%;
    display: flex;
    flex-flow: row wrap;

  }

  .form-buttons {
    width: 100%;
  }

  span.field_with_errors {
    color: red;
  }

}