<h4>Returns &amp; Exchanges</h4>

<p>Items may be returned or exchanged within 15 business days of the item being received. Any item that you wish to return must not be worn or altered, and must still have all tags intact.</p>

<p>For exchanges please include a note describing what items you would like to exchange for.</p>

<p>Address:</p>

<address>
New York Sunshine
<br>
attn: Returns &amp; Exchanges
<br>
28 Nugent Street
<br>
Southampton, NY, 11968
</address>

<p>Please contact <a href="mailto:returns@newyorksunshine.com">returns@newyorksunshine.com</a> with any questions</p>