body {
  font: 13px/1.615 "andale_monoregular";
  margin: 0;
  @media #{$QHD} {
    font-size: 16px;
  }
}

header {
  backface-visibility: hidden;
  letter-spacing: 2.2px;
  margin: auto;
  padding: 5px 0;
  text-align: center;
  transition: background-color $fast;
  @media #{$tablet-portrait} {
    // padding: 72px 0 0;
    padding: 5.5em 0 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    html.touch & {
      position: absolute;
    }

  }
  &.pinned {
    background-color: hsla(0, 100%, 100%, 0.96);
    transition-duration: $slow;
  }

}

#wrapper {
  overflow: hidden;
  transition: opacity $slow;
  @media #{$tablet-portrait} {
    min-height: calc(100vh - 2.75em);
    box-sizing: border-box;
    padding-top: 136px;
  }
}

#content {
  margin: auto;

  @media #{$tablet-portrait} {
    margin: 72px auto;
    width: 768px;
  }
  @media #{$desktop} {
    width: 1024px;
  }
  @media #{$widescreen} {
    width: 1280px;
  }
}


.flash {
  text-align: center;
  &.error {
    background: red;
    color: white;
    padding: 14px 16px 14px;
  }
}

footer {
  letter-spacing: 2.5px;
  // margin: 10em auto 0;
  position: relative;
  transition: opacity $slow;
  @media #{$tablet-portrait} {
    height: 2.75em;
    margin-top: 0;
    width: 768px;
  }
  @media #{$desktop} {
    width: 1024px;
  }
  @media #{$widescreen} {
    width: 1280px;
  }
}

html.loading #wrapper {
  opacity: 0;
  transition-duration: $fast;
}

html.loading footer {
  opacity: 0;
  transition-duration: $fast;
}

.homepage_sidebar_navigation {
  display: none;
}

