html {
  cursor: image-url("bball_cursor.png"), auto;
}

a:hover {
  cursor: image-url("bball_cursor.png"), auto;
}

body {
  font: 13px/1.615 "andale_monoregular";
  margin: 0;
}

header {
  backface-visibility: hidden;
  letter-spacing: 2.2px;
  margin: auto;
  text-align: center;
  transition: background-color $fast;
  @media #{$tablet-portrait} {
    padding: 5.5em 0 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    html.touch & {
      position: absolute;
    }
  }
  &.pinned {
    background-color: hsla(0, 100%, 100%, 0.96);
    transition-duration: $slow;
  }
}

#wrapper {
  overflow: hidden;
  transition: opacity $slow;
  @media #{$tablet-portrait} {
    min-height: calc(100vh - 3.0625em);
    box-sizing: border-box;
    padding-top: 10.5em;
  }
}

#content {
  margin: auto;
  @media #{$tablet-portrait} {
    margin: 72px auto;
    width: 768px;
  }
  @media #{$desktop} {
    width: 1024px;
  }
  @media #{$widescreen} {
    width: 1284px;
  }
}


.flash {
  text-align: center;
  &.error {
    background: red;
    color: white;
    padding: 14px 16px 14px;
  }
}

footer {
  letter-spacing: 2.5px;
  // margin: 10em auto 0;
  margin: auto;
  position: relative;
  transition: opacity $slow;
  @media #{$tablet-portrait} {
    // height: 3.0625em;
    margin-top: 0;
    width: 768px;
  }
  @media #{$desktop} {
    width: 1024px;
  }
  @media #{$widescreen} {
    width: 1280px;
  }
}

html.loading #wrapper {
  opacity: 0;
  transition-duration: $fast;
}

html.loading footer {
  opacity: 0;
  transition-duration: $fast;
}

.homepage_sidebar_navigation {
  display: none;
}
