html#spree-application {
  // background: url(http://files.human-nyc.com/newyorksunshine/home.jpg) center bottom;
  // background: url( http://files.human-nyc.com/newyorksunshine/pdp.jpg) center top;
  height: 100%;

  body {
    @extend %default-typography;
    height: 100%;
    margin: 0;
  }

  header {
    @extend %layout-main-container;
    letter-spacing: 2.5px;
    background: white;
    padding: 5px 0;
    text-align: center;
    transition: background $fast;
    @media #{$tablet-portrait} {
      padding: 84px 0 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 2;
    }
    &.pinned {
      background: hsla(0, 100%, 100%, 0.95);
      transition-duration: $slow;
    }
  }

  #wrapper {
    // transition-duration: $slow;
    @media #{$tablet-portrait} {
      min-height: 100%;
      overflow: hidden;
      box-sizing: border-box;
      padding: 136px 0 2.75em;
    }
  }

  #content {
    transition: $slow opacity;
    @extend %layout-main-container;

    @media #{$tablet-portrait} {
      margin: 72px auto 0;
    }
  }

  footer {
    letter-spacing: 2.5px;
    height: 2.75em;
    margin-top: -2.75em;
    position: relative;
    @extend %layout-main-container;

    // @media #{$widescreen} {
    //   background: deepskyblue;
    // }
  }

  &.loading #content {
    opacity: 0;
    transition-duration: $fast;
  }

  h1 {
    font-size: 2.5em;
    font-weight: normal;
  }

  a:not([href]),
  a.current {
    text-decoration: line-through;
  }
}