<% content_for :top do %>

  <div id="video-container">
    <video autoplay loop muted data-state="playing" poster="//newyorksunshine.s3.amazonaws.com/hoop-dreams.jpg">
      <source src="//newyorksunshine.s3.amazonaws.com/hoop-dreams-201502121415.mp4">
    </video>
    <div class="description"><div class="inner"><%== @artist_statement %></div></div>
    <div class="top-area"></div>
    <div class="bottom-area"></div>
  </div>
 <div id="artbook" class="main-gallery">
    <% @works.each do |work| %>
      <%= image_tag work.attachment(:large), class: "slide gallery-cell" %>
    <% end %>
    <div class="left capture"></div>
    <div class="right capture"></div>
  </div>

  <div class="thumbnails">
    <% @works.each_with_index do |work, index| %>
      <div class="thumbnail <%= index == 2 ? 'current' : nil %>">
        <%= image_tag work.attachment(:large), class: "work" %>
      </div>
    <% end %>
  </div>

<div id="artbook-booth" class="main-gallery">
      <img class="slide gallery-cell" src="http://trcproducts.in/NYS/Content/booth.jpg" alt="1" />
      <img class="slide gallery-cell" src="http://trcproducts.in/NYS/Content/booth2.jpg" alt="2" />
      <img class="slide gallery-cell" src="http://trcproducts.in/NYS/Content/booth3.jpg" alt="3" />
     
    <div class="left capture booth"></div>
    <div class="right capture booth"></div>
  </div>

 <div class="thumbnails booth">
      <div class="thumbnail booth">
        <img class="work" src="http://trcproducts.in/NYS/Content/booth.jpg" alt="2" />
      </div>
      <div class="thumbnail booth current">
        <img class="work" src="http://trcproducts.in/NYS/Content/booth2.jpg" alt="3" />
      </div>
      <div class="thumbnail booth">
        <img class="work" src="http://trcproducts.in/NYS/Content/booth3.jpg" alt="4" />
      </div>
  </div>
<div class="art_text">
CAUTION</br>
An installation by John Margaritis alongside the New York Sunshine Install Team.
These five tanks individually weigh 7,000 pounds and were all moved and placed by hand using wooden wedges, steel pipes, crowbars, pinch bars, pry bars, and 6x6 wooden ties.
Finding beauty in everyday construction, Margaritis repurposes his 2016 Water Box Series Installation to develop CAUTION – where demolition meets design.
Please maintain a comfortable distance from the work as tanks may shift and fall.
<center><img src="http://trcproducts.in/NYS/Content/caution.jpg" /></center>
</div>
  <div id="artbook-caution" class="main-gallery">
      <img class="slide gallery-cell" src="http://trcproducts.in/NYS/Content/slide1.jpg" alt="1" />
      <img class="slide gallery-cell" src="http://trcproducts.in/NYS/Content/slide2.jpg" alt="2" />
      <img class="slide gallery-cell" src="http://trcproducts.in/NYS/Content/slide3.jpg" alt="3" />
     
    <div class="left capture caution"></div>
    <div class="right capture caution"></div>
  </div>

 <div class="thumbnails caution">
      <div class="thumbnail caution">
        <img class="work" src="http://trcproducts.in/NYS/Content/slide1.jpg" alt="2" />
      </div>
      <div class="thumbnail caution current">
        <img class="work" src="http://trcproducts.in/NYS/Content/slide2.jpg" alt="3" />
      </div>
      <div class="thumbnail caution">
        <img class="work" src="http://trcproducts.in/NYS/Content/slide3.jpg" alt="4" />
      </div>
  </div>
 
  <div id="video-container-tank" style="margin-top:40px;">
    <!--<video style="max-width:100%;margin-top:40px;" onclick="this.play();" data-state="playing" poster="http://trcproducts.in/NYS/Content/poster.jpg">
      <source src="http://trcproducts.in/NYS/Content/Water Box Series.mp4">
    </video>-->
    <iframe src="https://player.vimeo.com/video/196012458" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

<div class="art_text">The One Ton Tank was created as a sculpture that could stand alone but also could be used to light a person inside from different angles while filled with water.  The One Ton Tank was constructed with a full-length glass panel in the front, a waist-down window on side, and a waist-up window on the other.  After the Tank was used for our Head Above Water lookbook photoshoot we moved it to the Watermill Center for the 2016 Summer Benefit and the public showings throughout the summer.  The One Ton Tank was used for a performance piece during the Summer Benefit, where performance artists submerged and moved slowly in the water while holding their breath.</div>

  <div id="artbook-tank" class="main-gallery">
      <img class="slide gallery-cell" src="http://trcproducts.in/NYS/Content/tank1.png" alt="1" />
      <img class="slide gallery-cell" src="http://trcproducts.in/NYS/Content/tank2.png" alt="2" />
      <img class="slide gallery-cell" src="http://trcproducts.in/NYS/Content/tank3.png" alt="3" />
     
    <div class="left capture tank"></div>
    <div class="right capture tank"></div>
  </div>

 <div class="thumbnails tank">
      <div class="thumbnail tank">
        <img class="work" src="http://trcproducts.in/NYS/Content/tank1.png" alt="2" />
      </div>
      <div class="thumbnail tank current">
        <img class="work" src="http://trcproducts.in/NYS/Content/tank2.png" alt="3" />
      </div>
      <div class="thumbnail tank">
        <img class="work" src="http://trcproducts.in/NYS/Content/tank3.png" alt="4" />
      </div>
  </div>
  <div id="video-container-chair" style="margin-top:40px;">
    <!--<video style="max-width:100%;margin-top:40px;" onclick="this.play();" data-state="playing" poster="http://trcproducts.in/NYS/Content/poster.jpg">
      <source src="http://trcproducts.in/NYS/Content/Water Box Series.mp4">
    </video>-->
    <iframe src="https://player.vimeo.com/video/223211444" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

<div class="art_text">The Foundation Chair is a three piece modular work, with a poured concrete base, triple laminated glass back, and steel arms.  Through the Foundation Chair, John Margaritis continues to explore concrete and using construction and job site materials to create limited pieces.</div>
  <div id="artbook-chair" class="main-gallery">
      <img class="slide gallery-cell" src="http://trcproducts.in/NYS/Content/3quarter.jpg" alt="1" />
      <img class="slide gallery-cell" src="http://trcproducts.in/NYS/Content/headon.jpg" alt="2" />
      <img class="slide gallery-cell" src="http://trcproducts.in/NYS/Content/Profile.jpg" alt="3" />
     
    <div class="left capture chair"></div>
    <div class="right capture chair"></div>
  </div>

 <div class="thumbnails chair">
      <div class="thumbnail chair">
        <img class="work" src="http://trcproducts.in/NYS/Content/3quarter.jpg" alt="2" />
      </div>
      <div class="thumbnail chair current">
        <img class="work" src="http://trcproducts.in/NYS/Content/headon.jpg" alt="3" />
      </div>
      <div class="thumbnail chair">
        <img class="work" src="http://trcproducts.in/NYS/Content/Profile.jpg" alt="4" />
      </div>
  </div>

<div class="art_text" style="text-align:center;">Yellow Brick Road</div>
  <div id="artbook-road" class="main-gallery">
      <img class="slide gallery-cell" src="http://trcproducts.in/NYS/Content/Yellow-Brick-Road-01.jpg" alt="1" />
      <img class="slide gallery-cell" src="http://trcproducts.in/NYS/Content/Yellow-Brick-Road-2.jpg" alt="2" />
      <img class="slide gallery-cell" src="http://trcproducts.in/NYS/Content/Yellow-brick-3.jpg" alt="3" />
     
    <div class="left capture road"></div>
    <div class="right capture road"></div>
  </div>

 <div class="thumbnails road">
      <div class="thumbnail road">
        <img class="work" src="http://trcproducts.in/NYS/Content/Yellow-Brick-Road-01.jpg" alt="2" />
      </div>
      <div class="thumbnail road current">
        <img class="work" src="http://trcproducts.in/NYS/Content/Yellow-Brick-Road-2.jpg" alt="3" />
      </div>
      <div class="thumbnail road">
        <img class="work" src="http://trcproducts.in/NYS/Content/Yellow-brick-3.jpg" alt="4" />
      </div>
  </div>

 <div id="video-container-caution" style="margin-top:40px;">
    <!--<video style="max-width:100%;margin-top:40px;" onclick="this.play();" data-state="playing" poster="http://trcproducts.in/NYS/Content/poster.jpg">
      <source src="http://trcproducts.in/NYS/Content/Water Box Series.mp4">
    </video>-->
<iframe src="https://player.vimeo.com/video/248044593" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>



<div class="arts_msg art_text" style="text-align:center;">
Pricing and availability upon request. </br> Please contact <a href="mailto:info@newyorksunshine.com">info@newyorksunshine.com</a></div>
<% end %>
