<% content_for :page_title do %>
  <%= Spree.t(:Returns_and_exchanges) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:edit), edit_admin_returns_exchanges_path, icon: 'edit', class: "btn-success" %>
<% end %>



<div class="returns_exchanges">

<%== @returns_exchanges.value %>

</div>