<nav id="taxonomies" class="sidebar-item" data-hook>
  <a class="all" href="/products">All</a>
  <% @taxonomies.each do |taxonomy| %>
    <% cache taxonomy do %>
      <% if(@taxonomies.count > 1) %>
        <!-- <h4 class='taxonomy-root'><%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %></h4> -->
      <% end %>
      <%= taxons_tree(taxonomy.root, @taxon, Spree::Config[:max_level_in_taxons_menu] || 1) %>
    <% end %>
  <% end %>
</nav>
