<div class="feed">
  <div class="feed-group">
    <% @feed_items.each do |feed_item| %>
      <%= render :partial => "#{feed_item.category.downcase}_feed_item", :locals => { :feed_item => feed_item } %>
    <% end %>
  </div>
</div>