<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>


<div id="home">
	<%= render :partial => 'spree/shared/feed', :locals => { :products => @products, :taxon => @taxon } %>
</div>
